.record-list {
  border: 1px solid #eee;
  border-radius: 10px 10px 10px 10px;
  font-size: 28px;
  background: #fff;
  color: #333;
  .list-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 16px;
    border-bottom: 1px solid #eee;
    display: flex;
    .content {
      flex: 1;
      background: transparent !important;
    }
    .at-icon-close {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
